// Colours
$white: #ffffff;
$black: #030303;
$green: #537173;
// Font Sizing
$h1: 64px;
$mobile-h1: 40px;

$h2: 48px;
$mobile-h2: 32px;

$h3: 32px;
$mobile-h3: 24px;

$h4: 24px;
$mobile-h4: 20px;

$text: 16px;
$mobile-text: 14px;
