---
import { urlForImage } from '../../lib/urlForImage'
const { testimonial } = Astro.props
---

<div class="testimonial">
	<div class="top">
		<img src={urlForImage(testimonial.image).format('webp').url()} alt={testimonial.image.alt} />
		<h4>{testimonial.name}</h4>
	</div>
	<p>{testimonial.text}</p>
</div>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.testimonial', {
		scrollTrigger: {
			trigger: '.testimonial',
			start: 'top 90%',
			toggleActions: 'play none none reverse'
		},
		x: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	})
</script>

<style lang="scss">
	.testimonial {
		transform: translateX(4rem);
		opacity: 0;
		.top {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 1rem;

			img {
				max-width: 30%;
			}

			h4 {
				color: $black;
			}
		}
		p {
			color: $black;
			margin-block: 1.5rem 0;
		}
	}
</style>
