---
import { urlForImage } from '../../lib/urlForImage'
const { testimonial } = Astro.props
---

<div class="testimonial">
	<div class="top">
		<img src={urlForImage(testimonial.image).format('webp').url()} alt={testimonial.image.alt} />
		<h4>{testimonial.name}</h4>
	</div>
	<p>{testimonial.text}</p>
</div>

<style lang="scss">
	.testimonial {
		.top {
			display: flex;
			align-items: center;
			gap: 1rem;

			img {
				max-width: 30%;
			}

			h4 {
				color: $black;
			}
		}
		p {
			color: $black;
			margin-block: 1.5rem 0;
		}
	}
</style>
