---
const { variant, color, text } = Astro.props
---

{
	variant === 'centered' ? (
		<div class={`tag ${color}`}>
			<hr />
			<p style={{ textAlign: 'center' }}>{text}</p>
			<hr />
		</div>
	) : (
		<div class={`tag ${color}`}>
			<hr />
			<p>{text}</p>
		</div>
	)
}

<style lang="scss">
	.tag {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0;
		margin: 0;
		margin-block: 0.5rem;

		&.white {
			hr {
				background-color: $white;
			}
			p {
				color: $white;
			}
		}
		&.black {
			hr {
				background-color: $black;
			}
			p {
				color: $black;
			}
		}
		hr {
			border: none;
			height: 1.5px;
			background-color: $green;
			width: 50px;
		}
		p {
			line-height: 1;
			margin: 0;
			color: $green;
			font-family: 'Gramatika Medium';
		}
	}
</style>
