---
import Button from '../Button.astro'
import Tag from '../type/Tag.astro'
const { title } = Astro.props
---

<section class="basic-section">
	<div class="wrapper">
		<div class="left">
			<Tag color="green" />
		</div>
		<div class="right">
			<h2>{title}</h2>
			<Button variant="green" text="Find out why" />
		</div>
	</div>
</section>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	const basicScrollTimeline = gsap.timeline({
		scrollTrigger: {
			trigger: '.basic-section .left .tag',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		}
	})

	basicScrollTimeline
		.to('.basic-section .left .tag ', {
			clipPath: 'polygon(0 0, 99.9999% 0, 99.9999% 100%, 0% 100%)',
			stagger: 0.2,
			ease: 'power1.inOut'
		})
		.to('.basic-section .right h2, .basic-section .right a ', {
			clipPath: 'polygon(0 0.00001%, 100% 0.00001%, 100% 100%, 0% 100%)',
			stagger: 0.2,
			ease: 'power1.inOut'
		})
</script>

<style is:global lang="scss">
	.basic-section {
		.wrapper {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.left {
				width: 50%;
				.tag {
					clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				}
			}
			.right {
				width: 50%;

				h2 {
					max-width: 18ch;
					margin-block: 0rem 1.5rem;
					clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}
				a {
					clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}
			}
		}
		@media (max-width: 900px) {
			.wrapper {
				flex-direction: column;
				padding-block-end: 0;
				.left,
				.right {
					width: 100%;
				}
			}
		}
	}
</style>
