---
import { urlForImage } from '../../lib/urlForImage'
import Tag from '../type/Tag.astro'
const { title, image } = Astro.props

const bgUrl = `url(${urlForImage(image).format('webp').url()})`
---

<section class="cta-section">
	<div class="wrapper">
		<div class="title">
			<Tag color="white" />
			<h2>{title}</h2>
		</div>
	</div>
</section>

<style lang="scss" define:vars={{ bgUrl }}>
	.cta-section {
		background-image: linear-gradient(#0303037c, #0303037c), var(--bgUrl);
		background-size: cover;
		background-position: center;

		.wrapper {
			padding-block: 28rem 4rem;
			.title {
				margin-inline-start: auto;
				max-width: max-content;
				h2 {
					color: $white;
					max-width: 16ch;
				}
			}
		}
	}
</style>
