---
import { urlForImage } from '../../lib/urlForImage'
import Button from '../Button.astro'
const { title, images } = Astro.props
---

<section class="cta-section">
	<div class="wrapper">
		<div class="grid-item">
			<img src={urlForImage(images[0]).format('webp').url()} alt={images[0].alt} />
		</div>
		<div class="grid-item">
			<h2>{title.title}</h2>
			<p>{title.text}</p>
			<Button text="Contact Us" to="/services/#contact" variant="black" />
		</div>
		<div class="grid-item">
			<img src={urlForImage(images[1]).format('webp').url()} alt={images[1].alt} />
		</div>
	</div>
</section>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.cta-section img', {
		scrollTrigger: {
			trigger: '.cta-section img',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)',
		ease: 'power1.inOut',
		stagger: 0.2
	})
	gsap.to('.cta-section h2, .cta-section p, .cta-section a', {
		scrollTrigger: {
			trigger: '.cta-section h2',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		opacity: 1,
		y: 0,
		ease: 'power1.inOut',
		stagger: 0.2
	})
</script>
<style is:global lang="scss">
	.cta-section {
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4rem;
			place-content: center;

			.grid-item {
				img {
					clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				}
				&:nth-child(2) {
					align-self: center;
					h2 {
						max-width: 14ch;
						transform: translateY(4rem);
						opacity: 0;
					}
					p {
						color: $black;
						max-width: 40ch;
						margin-block: 1.5rem 2rem;
						transform: translateY(4rem);
						opacity: 0;
					}
					a {
						transform: translateY(4rem);
						opacity: 0;
					}
				}
				&:last-child {
					grid-column: span 2;
					max-width: 80%;
					place-self: end;
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				gap: 2rem;

				.grid-item {
					&:last-child {
						grid-column: span 2;
						max-width: 100%;
						place-self: end;
					}
				}
			}
		}
		@media (max-width: 370px) {
			.wrapper {
				column-gap: 1rem;
				grid-template-columns: 0.5fr 1fr;

				.grid-item {
					&:last-child {
						grid-column: span 2;
						max-width: 100%;
						place-self: end;
					}
				}
			}
		}
		@media (max-width: 310px) {
			.wrapper {
				column-gap: 1rem;
				grid-template-columns: 1fr;

				.grid-item {
					&:last-child {
						grid-column: span 1;
						max-width: 100%;
						place-self: end;
					}
				}
			}
		}
	}
</style>
