---
import Button from '../Button.astro'
import TestimonialsGrid from '../grids/TestimonialsGrid.astro'
import Tag from '../type/Tag.astro'
const { title, testimonials } = Astro.props
---

<section id="testimonials" class="testimonials-section">
	<div class="wrapper">
		<div class="title">
			<Tag text="REVIEWS" variant="centered" color="black" />
			<h2>{title.title}</h2>
			<p>{title.text}</p>
			<!-- <Button text="Contact Us" to="/services/#contact" variant="black" /> -->
		</div>
		<TestimonialsGrid testimonials={testimonials} />
	</div>
</section>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('.testimonials-section  h2, .testimonials-section  p, .testimonials-section  a', {
		scrollTrigger: {
			trigger: '.testimonials-section ',
			start: 'top 80%',
			toggleActions: 'play none none reverse'
		},
		y: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	})
</script>
<style is:global lang="scss">
	.testimonials-section {
		.wrapper {
			.title {
				display: flex;
				align-items: center;
				flex-direction: column;

				h2 {
					max-width: 24ch;
					transform: translateY(4rem);
					opacity: 0;
					text-align: center;
				}

				& > p {
					color: $black;
					max-width: 50ch;
					margin-block: 1.5rem 2rem;
					transform: translateY(4rem);
					text-align: center;
					opacity: 0;
				}
				a {
					transform: translateY(4rem);
					opacity: 0;
				}
			}

			@media (max-width: 900px) {
				& > .top {
					flex-direction: column-reverse;
					align-items: flex-start;
					.right {
						width: 100%;
					}
					.left {
						width: 100%;
					}
				}
			}
		}
	}
</style>
