---
import Button from '../components/Button.astro'
import Tag from '../components/type/Tag.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout variant="black">
	<main>
		<div class="wrapper">
			<div class="left">
				<div class="title">
					<Tag color="green" />
					<h1>Contact Us</h1>
				</div>
				<form action="POST">
					<fieldset>
						<label for="name">Name:</label>
						<input type="text" id="name" name="name" />
					</fieldset>
					<fieldset>
						<label for="email">Email:</label>
						<input type="email" id="email" name="email" />
					</fieldset>
					<fieldset>
						<label for="phone">Phone:</label>
						<input type="text" inputmode="numeric" id="phone" name="phone" />
					</fieldset>
					<fieldset>
						<label for="message">Message:</label>
						<textarea style="resize:none;" name="message" id="message" cols="30" rows="4"
						></textarea>
					</fieldset>
					<Button text="Send Message" variant="green" />
				</form>
			</div>
			<div class="right">
				<div class="contact-info">
					<div class="list-item">
						<label for="phone-number">Phone:</label>
						<a href="tel:+447781127533" id="phone-number">07781 127533</a>
					</div>
					<div class="list-item">
						<label for="email-address">Email:</label>
						<a href="mailto:softwashsolutions.gg@gmail.com" id="email-address"
							>softwashsolutions.gg@gmail.com</a
						>
					</div>
					<img
						src="/images/hero-image-window-cleaning.png"
						alt="Window being cleaned close up by Soft Wash Solutions"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		.wrapper {
			display: flex;
			align-items: stretch;
			gap: 8rem;

			.left {
				width: 50%;
				.title {
					margin-block: 0 4rem;
					h1 {
						color: $black;
					}
				}

				form {
					fieldset {
						border: none;

						input,
						textarea {
							display: block;
							padding: 0.5rem;
							width: 100%;
							border: none;
							border-block-end: 0.5px solid $black;
						}
						&:not(:first-child) {
							margin-block-start: 1rem;
						}
						&:last-of-type {
							margin-block-end: 2.5rem;
						}
					}
				}
			}
			.right {
				width: 50%;
				display: flex;

				.contact-info {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					justify-content: space-between;
					align-self: flex-end;
					.list-item {
						display: flex;
						align-items: flex-start;
						flex-direction: column;
						label {
							font-family: 'Gramatika Medium';
						}
						a {
							color: $black;
							font-family: 'Gramatika Light';
						}
					}
					img {
						margin-block-start: 4rem;
					}
				}
			}
		}
	}
</style>
