---
import Project from '../cards/Project.astro'
const { projects } = Astro.props
---

<div class="grid">
	{
		projects.map((project) => (
			<Project name={project.name} description={project.description} image={project.image} />
		))
	}
</div>

<style lang="scss">
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-block: 4rem 0;
		gap: 2rem;

		@media (max-width: 900px) {
			grid-template-columns: 1fr;
		}
	}
</style>
