---
import Project from '../cards/Project.astro'
const { projects } = Astro.props
---

<div class="grid">
	{
		projects.map((project) => (
			<Project name={project.name} description={project.description} image={project.image} />
		))
	}
</div>

<style lang="scss">
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-block: 4rem 0;
		width: calc(100% + 8rem);
		margin-inline: -4rem;

		@media (max-width: 900px) {
			grid-template-columns: 1fr;
		}
		@media (max-width: 700px) {
			width: calc(100% + 4rem);
			margin-inline: -2rem;
		}
		@media (max-width: 500px) {
			width: calc(100% + 2rem);
			margin-inline: -1rem;
		}
	}
</style>
