---
const { text, to = '/contact/', variant, ...props } = Astro.props
---

<a href={to}>
	<button {...props} class={variant}>
		{text}
	</button>
</a>

<style lang="scss">
	a {
		button {
			padding: 0.75rem 2rem;
			cursor: pointer;
			border-radius: 0.25rem;
			background-color: transparent;

			&.white {
				border: 1px solid $white;
				color: $white;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				&:hover {
					background-color: $white;
					color: $black;
					transition:
						background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
				}
			}
			&.green {
				border: 1px solid $green;
				color: $white;
				background-color: $green;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				&:hover {
					background-color: transparent;
					color: $green;
					transition:
						background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
				}
			}
			&.white {
				border: 1px solid $white;
				color: $white;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				&:hover {
					background-color: $white;
					color: $black;
					transition:
						background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
				}
			}
			&.black {
				border: 1px solid $black;
				color: $black;
				transition:
					background-color 0.3s ease-in-out,
					color 0.3s ease-in-out;

				&:hover {
					background-color: $black;
					color: $white;
					transition:
						background-color 0.3s ease-in-out,
						color 0.3s ease-in-out;
				}
			}
		}
	}
</style>
