---
import Button from './Button.astro'
---

<footer>
	<div class="wrapper">
		<div class="footer-top">
			<h3>Contact us for a complimentary quote</h3>
			<Button text="Contact Us" to="/#contact" variant="white" />
		</div>
		<div class="footer-bottom">
			<div class="column">
				<h4>Exploring options?</h4>
				<p>
					Remember, we're only a message away, ready to assist with any inquiries or when you're
					prepared to take the next step. Your property's brilliance is just a click away.
				</p>
			</div>
			<div class="wrap">
				<div class="column">
					<nav>
						<ul>
							<a href="/">
								<li>Home</li>
							</a>
							<a href="/services/">
								<li>Services</li>
							</a>
							<a href="/gallery/">
								<li>Gallery</li>
							</a>
							<a href="/#contact">
								<li>Contact us</li>
							</a>
						</ul>
					</nav>
				</div>
				<div class="column">
					<nav>
						<ul>
							<a href="/#why-us">
								<li>Why us?</li>
							</a>
							<a href="/#top-services">
								<li>Top services</li>
							</a>
							<a href="/#testimonials">
								<li>Testimonials</li>
							</a>
							<a href="/services/">
								<li>All services</li>
							</a>
							<a href="/gallery/">
								<li>Before and after</li>
							</a>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>

<style lang="scss">
	footer {
		background-color: $green;
		.wrapper {
			.footer-top {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				padding-block-end: 4rem;

				h3 {
					color: $white;
					max-width: 16ch;
				}
			}
			.footer-bottom {
				display: grid;
				grid-template-columns: 2fr 2fr;
				padding-block-start: 4rem;
				gap: 4rem;
				align-items: end;
				border-top: 0.5px solid $white;

				.wrap {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 2rem;
					width: 100%;
					.column {
						nav {
							width: 100%;

							ul {
								flex-direction: row;
								flex-wrap: wrap;
							}
						}
					}
				}

				.column {
					h4 {
						color: $white;
					}
					p {
						color: $white;
						margin-block-start: 1.5rem;
						max-width: 32ch;
					}
					nav {
						ul {
							display: flex;
							align-items: flex-start;
							flex-direction: column;
							gap: 1.5rem;
							a {
								li {
									color: $white;
								}
							}
						}
					}
				}
			}
		}
		@media (max-width: 900px) {
			.wrapper {
				.footer-bottom {
					grid-template-columns: 1fr;
				}
			}
		}
		@media (max-width: 500px) {
			.wrapper {
				.footer-top {
					flex-direction: column;
					align-items: flex-start;
					gap: 1.5rem;
				}
				.footer-bottom {
				}
			}
		}
		@media (max-width: 350px) {
			.wrapper {
				.footer-bottom {
					grid-template-columns: 1fr;

					.column {
						&:first-child {
							grid-column: span 1;
						}
						&:not(:first-child) {
						}
					}
				}
			}
		}
	}
</style>
