---
import Navigation from './Navigation.astro'
import Dropdown from './Dropdown.astro'
---

<header>
	<div class="header-wrapper">
		<a href="/" class="logo">
			<img src="/svg/softwash-logo.svg" alt="Softwash Solutions Logo" />
		</a>
		<Navigation />
		<Dropdown />
	</div>
</header>

<style lang="scss">
	header {
		position: absolute;
		z-index: 10;

		.header-wrapper {
			width: 100%;
			max-width: 1440px;
			padding: 1rem 4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		@media (max-width: 700px) {
			.header-wrapper {
				padding-inline: 2rem;
			}
		}
		@media (max-width: 500px) {
			.header-wrapper {
				padding-inline: 1rem;
			}
		}
	}
</style>
