---
import Navigation from './Navigation.astro'
import Dropdown from './Dropdown.astro'
import Button from './Button.astro'
const { variant } = Astro.props
---

<header>
	<div class="header-wrapper">
		<a href="/" class="logo">
			{
				variant === 'black' ? (
					<img src="/images/softwashlogo (1) 1.png" alt="Softwash Solutions Logo" />
				) : (
					<img src="/images/softwashlogo (1) 1.png" alt="Softwash Solutions Logo" />
				)
			}
		</a>
		<Navigation variant={variant} />
		<Dropdown variant={variant} />
		<div class="container">
			<Button to="/contact/" text="Contact us" variant={variant === 'black' ? 'green' : 'white'} />
		</div>
	</div>
</header>

<style is:global lang="scss">
	header {
		position: absolute;
		z-index: 10;

		.header-wrapper {
			width: 100%;
			max-width: 1440px;
			padding: 1rem 4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				width: 200px;

				img {
					width: 150px;
				}
			}
			.container {
				width: 200px;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				a {
					margin-inline-end: -0.75rem;
				}
			}
		}

		@media (max-width: 1024px) {
			.header-wrapper {
				.container {
					display: none;
				}
			}
		}

		@media (max-width: 700px) {
			.header-wrapper {
				padding-inline: 2rem;
			}
		}
		@media (max-width: 500px) {
			.header-wrapper {
				padding-inline: 1rem;
			}
		}
	}
</style>
