---
import Navigation from './Navigation.astro'
import Dropdown from './Dropdown.astro'
import Button from './Button.astro'
---

<header>
	<div class="header-wrapper">
		<a href="/" class="logo">
			<img src="/svg/softwash-logo.svg" alt="Softwash Solutions Logo" />
		</a>
		<Navigation />
		<Dropdown />
		<div class="container"><Button to="/contact/" text="Contact us" variant="white" /></div>
	</div>
</header>

<style lang="scss">
	header {
		position: absolute;
		z-index: 10;

		.header-wrapper {
			width: 100%;
			max-width: 1440px;
			padding: 1rem 4rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.logo {
				width: 200px;

				img {
					width: 100px;
				}
			}
			.container {
				width: 200px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}

		@media (max-width: 1024px) {
			.header-wrapper {
				.container {
					display: none;
				}
			}
		}

		@media (max-width: 700px) {
			.header-wrapper {
				padding-inline: 2rem;
			}
		}
		@media (max-width: 500px) {
			.header-wrapper {
				padding-inline: 1rem;
			}
		}
	}
</style>
