---
import Button from './Button.astro'
import { urlForImage } from '../lib/urlForImage'
import Tag from '../components/type/Tag.astro'
const { title, image, tagColor } = Astro.props

const backgroundImageUrl = `url(${urlForImage(image).format('webp').url()})`
---

<main>
	<div class="wrapper">
		<div class="title">
			<Tag text="OPERATING SINCE 2000" variant="centered" color={tagColor} />
			<h1>
				{title.title}
			</h1>
			<p>
				{title.text}
			</p>
		</div>
	</div>
</main>

<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)
	const homeHeroTimeline = gsap.timeline()
	homeHeroTimeline
		.to('main', {
			clipPath: 'polygon(0 0.00001%, 100% 0.00001%, 100% 100%, 0% 100%)',
			ease: 'power1.inOut'
		})
		.to('main h1, main .title > p', {
			clipPath: 'polygon(0 0.00001%, 100% 0.00001%, 100% 100%, 0% 100%)',
			stagger: 0.2,
			ease: 'power1.inOut'
		})
		.to(
			'main .tag',
			{
				clipPath: 'polygon(0 0, 99.9999% 0, 99.9999% 100%, 0% 100%)',
				stagger: 0.2,
				ease: 'power1.inOut'
			},
			'-=0.4'
		)
</script>

<style is:global lang="scss" define:vars={{ backgroundImageUrl }}>
	main {
		background-image: linear-gradient(#03030387, #03030387), var(--backgroundImageUrl);
		background-size: cover;
		background-position: center;
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

		.wrapper {
			padding-block: 28rem 2rem;

			.title {
				display: flex;
				flex-direction: column;
				align-items: center;
				.tag {
					clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
				}
				h1 {
					max-width: 24ch;
					text-align: center;
					clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}
				> p {
					max-width: 60ch;
					text-align: center;
					margin-block: 1.5rem 0;
					clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
				}
			}

			@media (max-width: 500px) {
				padding-block: 24rem 2rem;
			}
		}
	}
</style>
