---
import Button from './Button.astro'
import { urlForImage } from '../lib/urlForImage'
import Tag from '../components/type/Tag.astro'
const { title, image } = Astro.props
---

<main>
	<div class="wrapper">
		<div class="title">
			<Tag />

			<h1>
				{title.title}
				<p>
					{title.text}
				</p>
				<Button to="/contact/" text="Contact us" variant="green" />
			</h1>
		</div>
		<div class="image">
			<img src={urlForImage(image).format('webp').url()} alt={image.alt} />
		</div>
	</div>
</main>
<!-- 
	<script>
		import { gsap } from 'gsap'
		import { ScrollTrigger } from 'gsap/ScrollTrigger'
		gsap.registerPlugin(ScrollTrigger)

		gsap.to('main h1, main p', {
			y: 0,
			opacity: 1,
			ease: 'power1.inOut',
			stagger: 0.2
		})
	</script> -->

<style is:global lang="scss">
	main {
		.wrapper {
			padding-block-start: 7.5rem;
			padding-block-end: 0;
			.title {
				h1 {
					max-width: 30ch;
					// transform: translateY(4rem);
					// opacity: 0;
					color: $black;
					line-height: 1.3;
					margin-inline: 0 1rem;

					p {
						max-width: 40ch;
						color: $black;
						font-family: 'Gramatika Light';
						display: inline-block;
						// transform: translateY(4rem);
						// opacity: 0;
					}
					a {
						transform: translateY(-0.75rem);
						display: inline-block;
					}
				}
			}
			.image {
				margin-block: 2.5rem 0;
				width: calc(100% + 8rem);
				margin-inline: -4rem 0;
				img {
					max-height: 500px;
					object-fit: cover;
				}
			}
		}
	}
</style>
