---
import Button from './Button.astro'
import { urlForImage } from '../lib/urlForImage'
import Tag from '../components/type/Tag.astro'
const { title, image, tagColor } = Astro.props

const backgroundImageUrl = `url(${urlForImage(image).format('webp').url()})`
---

<main>
	<div class="wrapper">
		<div class="title">
			<Tag variant="centered" color={tagColor} />
			<h1>
				{title.title}
			</h1>
			<p>
				{title.text}
			</p>
		</div>
	</div>
</main>

<style lang="scss" define:vars={{ backgroundImageUrl }}>
	main {
		background-image: linear-gradient(#03030370, #03030370), var(--backgroundImageUrl);
		background-size: cover;
		background-position: center;

		.wrapper {
			padding-block: 28rem 4rem;

			.title {
				display: flex;
				flex-direction: column;
				align-items: center;
				h1 {
					max-width: 24ch;
					text-align: center;
				}
				p {
					max-width: 60ch;
					text-align: center;
					margin-block: 1.5rem 0;
				}
			}
		}
	}
</style>
