---
const { title } = Astro.props
---

<main>
	<div class="wrapper">
		<div class="title">
			<h1>{title.title}</h1>
			<p>
				{title.text}
			</p>
		</div>
	</div>
</main>
<script>
	import { gsap } from 'gsap'
	import { ScrollTrigger } from 'gsap/ScrollTrigger'
	gsap.registerPlugin(ScrollTrigger)

	gsap.to('main h1, main p', {
		y: 0,
		opacity: 1,
		ease: 'power1.inOut',
		stagger: 0.2
	})
</script>
<style lang="scss">
	main {
		background-image: linear-gradient(to bottom, #030303ad, #03030300 25%),
			linear-gradient(to top, #030303ad, #03030300 50%), url('/images/hero-image-services.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.wrapper {
			padding-block: 24rem 4rem;

			.title {
				h1 {
					max-width: 14ch;
					transform: translateY(4rem);
					opacity: 0;
				}
				p {
					max-width: 50ch;
					margin-block: 1.5rem 0;
					transform: translateY(4rem);
					opacity: 0;
				}
			}
		}
	}
</style>
